.animal-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Ajusta el número 4 según cuántas columnas quieres ver */
  gap: 20px;
  padding: 20px;
}

.animal-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #f9f9f9;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 700;
}

.animal-card:hover {
  transform: scale(1.05);
}

.animal-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}

h3 {
  margin: 0;
  color: #333;
}

p {
  color: #666;
}

a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.adopt-button {
  background-color: #28a745;
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 15px; 
  font-size: 16px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.adopt-button:hover {
  background-color: #218838; 
}

.adopt-button:focus {
  outline: none; 
}